:root {
  --bg-primary-color: #ffffff;
  --bg-secondary-color: #0072ca;
}

body {
  background-color: var(--bg-primary-color);
}

.presentation__card {
  position: relative;
}

.profile__pic {
  width: 500px;
  margin-top: 40px;
}

.profile__pic img {
  -o-object-fit: cover;
  border-radius: 500px;
  -webkit-box-shadow: 10px 10px 28px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 28px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 28px -16px rgba(0, 0, 0, 0.75);
}
.card__bg {
  background-color: var(--bg-secondary-color);
  height: 100vh;
  position: absolute;
  z-index: -2;
}

.info > div {
  border-radius: 5px;
  background: #ffffff;
  padding: 10px;
  -webkit-box-shadow: 10px 10px 28px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 28px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 28px -16px rgba(0, 0, 0, 0.75);
  position: absolute;
}

@media only screen and (min-width: 720px) {
  .info__name {
    top: 10px;
  }
  .info__education {
    top: 100px;
  }
  .info__vocation {
    bottom: 10px;
  }
}

footer {
  position: fixed;
  padding: 20px;
  bottom: 0px;
  width: 100%;
  text-align: center;
  color: white;
}
